.tags_page_wrapper{
    margin: 5px;
}
.tags_page_wrapper input{
    width: 200px;
    height: 30px;
}
.sort_btn_wrapper{
    display: flex;
    justify-content: end;
}
.sort_btn_wrapper div{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.sort_btn_wrapper div:hover{
    background-color: rgb(58, 58, 58);
    color: white;
}
.txt{
    font-weight: 100;
    font-size: small;
}
.tag_wrapper{
    width: 275px;
}
.tag_name{
    font-weight: 700;
}
.tags_wrapper{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.tags_wrapper div{
    margin: 5px;
}
.total_number{
    font-weight: 100;
    font-size: smaller;
    color: rgb(163, 150, 150);
}
.statistic_wrapper{
    display: flex;
}
.tag_page_wrapper{
    width: 150px;
    border: 1px solid black;
    border-radius: 3.5px;
}
.tag_page_wrapper :first-child{
    cursor: pointer;
    background-color: rgb(201, 196, 196);
    text-align: center;
    border-radius: 3.5px;
    color: rgb(50, 125, 155);
}
.tag_page_wrapper div{
    margin: 5px;
}
.name{
    font-weight: bold;
}
.count{
    font-size: small;
}