.main_wrapper{
    margin: 5px;
}
.sort_wrapper{
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    justify-items: space-around;
}
.sort_wrapper div{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.sort_wrapper div:hover{
    background-color: rgb(58, 58, 58);
    color: white;
}
.tag_wrapper{
    cursor: pointer;
    color: rgb(17, 141, 172);
    margin: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
}
.tag_wrapper:hover{
    background-color:rgb(58, 58, 58);
    color: white;
}
.info_wrapper{
    margin-top: 15px;
}
.info_wrapper span{
    margin: 5px;
}
.green{
    color: green;
}
.red{
    color: red;
}